*{
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppis', sans-serif;
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1200px;
    height: 850px;
    margin: auto;
    border-radius: 25px;
}

.logo{
    width: 280px;
}

header{
    padding: 20px;
    text-align: center;
}

h1{
    color: rgb(24, 255, 24);
}

nav{
    height: 50px;
    background-color: rgb(24, 255, 24);
    padding: 13px;
    text-align: center;
}

nav, main{
    width: 1000px;
    margin: auto;
}

div{
    color: white;
    font-weight: 100px;
    line-height: 25px;
}

div > h2{
    display: inline-block;
}

div > span:first-of-type:before{
    content: "\21A6";
}

.carica{
    height: 30px;
    border-radius: 10px;
}

.carica.high{
    background-color: green;
    width: 700px;
}

.carica.medium{
    background-color: rgb(216, 196, 15);
    width: 500px;
}

.carica.low{
    background-color: rgb(163, 20, 20);
    width: 200px;
}